.movie-view {
  margin: 0px 50px;
}

.movie-poster {
  width: 20%;
  margin: 40px auto;
}

.label-title {
  font-size: 40px;
  text-align: center;
}

.label-body {
  font-size: 16px;
}

.return-button {
  margin: auto;
  margin-bottom: 20px;
  background-color: #0984e3;
}
